table.stats {
	display: none; /* shown via js */
}

table.stats thead {
	background: solid gray;
	font-weight: bold;
}

table.stats td {
	min-width: 40ex;
}

.slider {
	margin: 2ex;
	font-size: 0.5em;
}
