th {
	background: rgba(50, 50, 50, 0.2);
	font-weight: bold;
}

th, td {
	padding: 0 2ex;
}

table.stats {
	display: none; /* shown via js */
}

table.stats td {
	min-width: 40ex;
}

.slider {
	margin: 2ex;
	font-size: 0.5em;
}

table, .slider-cell {
	width: 80%;
}

.ui-slider .ui-slider-handle {
	border: 1px solid black;
}
